
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Henny+Penny&family=Rubik+Beastly&display=swap');


@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@400..700&family=Henny+Penny&family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Rubik+Beastly&display=swap');




*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
  font-family: "Inter";
  background: #000;
}
html{
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
}

ul{
  list-style: none;
}


:root{
    --color-primary: #ffc107;
    --color-secondary: #fd7e14;
    --color-dark: #212529;
    --bg: #222831;
    --transition: .5s;
    --font-family: 'Dancing Script';
    --background-color: #1E1E1E;
}

.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
  }
  
  @media (min-width: 576px) {
    .container {
      max-width: 536px;
    }
  }
  @media (min-width: 768px) {
    .container {
      max-width: 728px;
    }
  }
  @media (min-width: 992px) {
    .container {
      max-width: 952px;
    }
  }
  @media (min-width: 1200px) {
    .container {
      max-width: 1160px;
    }
  }



 .header{
 
            width: 100%;
            height: 100px;
            background-color: #000;
             position: absolute;
            top: -100px;
            z-index: 100;
            padding: 20px;
            display: flex;
            align-items: center;
            justify-content: space-between;
            /* overflow: hidden; */
            ul{
              display: flex;
              justify-content: center;
              li{
                a{
                  padding: 0 20px 0 0;
                  font-size: 15px;
                  color: #F5F5F5;
                }
              }
            }
            .icon{
              color: #fff;
              font-size: 20px;
              cursor: pointer;
            }
            .search-input{
              display: flex;
              align-items: center;
              position: relative;
              i{
                color: #333;
                position: absolute;
                right: 15px;
              }
              input{
                width: 464px;
                padding: 10px 15px;
                border-radius: 5px;
                border: none;
                outline: none;
                
              }
             
            }
          }

          .header.active{
            top: 0;
            transition: 3s;
          }
      
          .menu{
            color: #fff;
            font-size: 30px;
            cursor: pointer;
            display: none;
          }


              @media(max-width: 1160px){
                .header{
                  width: 100%;
                  .search-input{
                    display: none;
                  }
                  .icon{
                    display: none;
                  }
                  .menu{
                    display: block;
                  }

                  .links{
                    background-color: #8a8b8b4d;
                    padding: 30px;
                    position: absolute;
                    right: 20px;
                    opacity: 0;
                    top: 70px;
                    width: 70%;
                    display: flex;
                    flex-direction: column;
                    gap: 20px;
                    border-radius: 10px;
                    transition: 1s;
                  }
                }
              }

              @media(max-width: 430px){
                .header{
                  img{
                    margin: 0 auto;
                  }
                  .menu{
                    display: none;
                  }
                }
              }
             
             





       .landing{
          position: relative;
    width: 100%;
    height: 100vh;
    overflow: hidden;
     background-image: url(../images/b6793e40-d7e3-49e4-a2b6-09f616940fb6.png);
   background-repeat: no-repeat;
   background-size: cover;
        .box{
        position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 30px;
    opacity: 0;
    transition: opacity 1s ease-in-out;
          .text{
            width: 500px;
          h2{
          font-size: 50px;
    color: #F5F5F5;
    margin-bottom: 20px;
          }
          p{
             font-size: 30px;
      line-height: 1.5;
      color: #fff;
          }
          }
          img{
         
            width: 30%;
          }
         
         
        }
        .box.active{
          opacity: 1;
    
        }
       }   

        @media( max-width: 800px){
         .landing{
           background-image: url(../images/c47ba2c8-3b0a-4574-9bda-2bfe23aef94b.png);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: -50px;
          .box{
            .text{
              h2{
              font-size: 30px;
              margin-bottom: 10px;
            }
            p{
              font-size: 20px;
              
              color: #ddd;
            }
            }

          }
         }
              }
        @media( max-width: 430px){
         .landing{
          background-image: none;
          .box{
            display: flex;
            align-items: center;
            img{
              flex: 1;
              width: 200px;
            }
            .text{
             
              flex: 1;
              h2{
              font-size: 20px;
              margin-bottom: 10px;
            }
            p{
              font-size: 15px;
              color: #ddd;
            }
            }

          }
         }
              }
   
           
        .offer{
        padding: 45px 0 90px;
        h1{
          text-align: center;
          margin: 10px auto;
         color: #F5F5F5;
            letter-spacing: 2px;
              text-align: center;
              font-size: 30px;
              font-family: var(--font-family);
                text-shadow: 1px 0px 3px #F5F5F5;
        }
          .container{
            display: flex;
            align-items: center;
            justify-content: center;
            gap: 20px;
            .box{
              background-color: var(--background-color);
            padding: 20px;
            border-radius: 10px;
            width: 555px;
            margin: 45px 0 0 ;
            display: flex;
            align-items: center;
            gap: 20px;
           box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);

             .img{
              border: 5px solid #6a7681;
              cursor: pointer;
               width: 175px;
                height: 175px;
                border-radius: 50%;
                overflow: hidden;
              img{
               width: 100%;
                    height: 100%;
                    object-fit: cover;
                transition: .5s;
              }
             }

              .text{
                h5{
                    font-size: 24px;
                    color: #fff;
                    font-weight: 800;
                    font-family: var(--font-family);
                }

                   h6{
                    margin: 10px 0 ;
                    display: flex;
                    align-items: center;
                    gap: 5px;
                    font-size: 32px;
                    color: #E0E0E0;
                    font-family: var(--font-family);
                    p{
                        font-size: 16px;
                        color: #fff;
                    }
                    

                }
                .btn{
                background-color: #6a7681;
                border-radius: 50px;
                padding: 10px 20px;
                cursor: pointer;
                transition: .5s;
                i{
                    font-size: 16px;
                    color: #fff;
                }
                a{
                        color: #fff;
                }
                &:hover{
                    background-color:#333;
                }
               }
            }
            }
            .box:hover{
              .img{
                img{
                  transform: scale(1.1);
                }
              }
            }
          }
        }

        @media(max-width: 990px){
          .offer{
            width: 100%;
            .container{
              display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            }
          }
        }
        @media(max-width: 430px){
          .offer{
            display: none;
            width:fit-content;
            .container{
              display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
            }
          }
        }


        .item-section{
          padding: 0 0 90px;
          .container{
            .hed-text{
              margin: 30px auto 20px;
              text-align: center;
              font-size: 30px;
              color: #f5f5f5;
              font-family: var(--font-family);
                text-shadow: 1px 4px 3px #f5f5f5;
            }
            .links{
              display: flex;
              align-items: center;
              justify-content: space-between;
              margin: 40px auto;
              width: max-content;
              height: 100px;
              padding: 20px 30px;
               color: #f5f5f5;
              div{
             padding:20px;
             cursor: pointer;
             font-weight: 600;
                transition: var(--transition);
              }
                .active{
                background-color: var(--bg);
                color: #fff;
                border-radius: 20px;
                cursor: pointer;
            }
            div:hover{
              background-color: var(--bg);
              background-color: var(--bg);
                color: #fff;
                border-radius: 6px;
                cursor: pointer;
                
            }
            }
            .cards-container{
            position: relative;
               width: 1351px;
            margin-top: 50px;
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
            gap: 20px;
            padding: 0 0 90px;
           .card{
         opacity: 0;
  transition: opacity 2s ease-in-out;
            overflow: hidden;
            display: flex;
            flex-direction: column;
            box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);

            align-items: center;
            justify-content: center;
          text-align: center;
              height: 443px;
              background-color: #1E1E1E;
              border-radius: 7%;
              .img{
                background-color: #2A2A2A;
                width: 100%;
               height: 215px;
               margin-top: -30px;
               padding: 25px;
               border-bottom-left-radius: 40px;
              
                 img{
                width: 200px;
                height: 200px;
                display: block;
                margin: auto;
               
                
                 }
             
            
              }

              .text{
                padding: 25px;
                h5{
                    margin: 0 0 8px;
                    font-size: 17px;
                    color: #fff;
                    font-weight: 600;
                    line-height: 1.5;
                }
                .vote{
                  margin: 0 0 20px 0;
                  i{
                    color: gold;
                    text-shadow: 1px 0px 5px gold;
                  }
                i.regular{
                  color: #bdbdbd;
                   text-shadow: none;
                }
                }
                .price{
                  p{
                    color: #ddd;
                    margin: 20px auto;
                    font-size: 20px;
                    font-weight: 700;
                  }
                }
                .btn{
                  background: #FFC107;
                  padding: 10px 20px;
                  width: max-content;
                  margin: auto;
                  cursor: pointer;
                  border-radius: 10px;
                  a{
                    color: #000000;
                    font-size: 15px;
                    font-weight: 600;
                  }
                }
              
              }
           }
           .card.active{
            opacity: 1;
            transform: translateY(30px);
            transition: all 0.8s ease-out;
           }
           .card:hover{
            .img{
              img{
                transform:scale(1.1);
                transition: 1.5s;
              }
            }
           }
            }
          }
        }

        @media(max-width: 728px){
          .item-section{
            .container{
             
              width: 720px;
            .links{
          
              
               div{
                font-size: 15px;
                font-weight: normal;
               }
            }
            }
          }
        }


           .testimonials-section{
            .head-text{
              margin: 20px auto;
              text-align: center;
              h1{
                text-align: center;
          margin: 10px auto;
            letter-spacing: 2px;
              text-align: center;
              color: #f5f5f5;
              font-size: 40px;
              font-family: var(--font-family);
                text-shadow: 1px 0px 3px #f5f5f5;
              }
            }
            .boxes{
                display: grid;
            grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
            gap: 20px;
            padding: 30px;
            }
            .boxes-cont{
                 opacity: 0;
  transition: opacity 2s ease-in-out;

            .box{
                box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
              background: var(--background-color);
              display: flex;
              align-items: center;
              flex-direction: column;
              gap: 20px;
             text-align: center;
              padding: 20px ;
              border-radius: 6px;

              .img{
                overflow: hidden;
                width: 150px;
                height: 150px;
                border-radius: 50%;
                outline: #524e4ed0 5px solid;
                outline-offset: 1px ;
                img{
                  border-radius: 50%;
                  width: 100%;
                  height: 100%;
                }
              }
              .text{
                h4{
                  font-size: 25px;
                  font-weight: 800;
                  margin-bottom: 10px;
                  color: #FFD700;
                  font-family: var(--font-family);
                }
                p{
                 color: #D1D1D1;
                  line-height: 1.5;
                }
                span{
                  display: block;
                  margin-top: 10px;
                  font-size: 20px;
                  font-weight: 800;
                  color: #D1D1D1;
                  font-family: var(--font-family);
                }
              }
            }
            }
            .boxes-cont.active{
              display: block;
            }
            .boxes-cont:hover .box img{
              transform: scale(1.1);
              transition: var(--transition);
            }
           }
  



.bre-loader{
  overflow: hidden;
    width: 100%;
    height: 100vh;
     /* position: relative; */
     position: fixed;
     visibility:visible;
    transition: 2s;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    .dumbbell{
       position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
        z-index: 100;
        gap: 2px;
        top: 50%;
        left: 50%;
        transition: 1.5s;
        transform: translate(-50%, -50%);
      
            div:nth-child(1){
                width: 2px;
                height: 15px;
              border-bottom-left-radius: 20px;
              border-top-left-radius:20px;
                background-color: brown;
                   animation: rotate infinite 1.5s ;
            }
            div:nth-child(2){
                width: 6px;
                height: 35px;
              border-bottom-left-radius: 20px;
              border-top-left-radius:20px;
                background-color: brown;
           animation: rotate infinite 1.5s ;
            }
            div:nth-child(3){
                width: 12px;
                height: 50px;
              border-top-left-radius:10px;
             border-bottom-left-radius:10px;
                background-color: brown;
          animation: rotate infinite 1.5s ;
            }
            .center{
                width: 80px;
                height: 10px;
                background-color: brown;
                border-radius: 10px;
                 animation: rotate infinite 1.5s ;
            }

                div:nth-child(7){
                width: 2px;
                height: 15px;
              border-bottom-right-radius: 20px;
              border-top-right-radius:20px;
                background-color: brown;
                  animation: rotate infinite 1.5s ;
            }
            div:nth-child(6){
              width: 6px;
                height: 35px;
              border-bottom-right-radius:20px;
              border-top-right-radius:20px;
                background-color: brown;
                  animation: rotate infinite 1.5s ;;
            }
            div:nth-child(5){
                width: 12px;
                height: 50px;
             border-top-right-radius:10px;
             border-bottom-right-radius:10px;
                background-color: brown;
                    animation: rotate infinite 1.5s ;
             
    
            }

           
       
    }
}
.bre-loader.active::after{
  clip-path:inset(0 0 0 100% )
}
.bre-loader.active::before{
  clip-path:inset(0 100% 0 0  )
}

.bre-loader::before{
    content: "";
    position: absolute;
    width: 50%;
    background-color: black;
    height: 100vh;
    left: 0;
    transition: 4s;
clip-path:inset(0 0 0 0 )
}
.bre-loader::after{
    content: "";
    position: absolute;
    width: 51%;
    background-color: black;
    height: 100vh;
    right: 0;
     transition: 4s;
clip-path:inset(0 0 0 0 )
}



 @keyframes rotate {
             to{
             transform:rotate(360deg) ;
             } 
            }


          
         